
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.window{
  width: 400px;
  height: 300px;
  margin: 20px auto;
  overflow: hidden;
}
.images{
  position: relative;
}
.images > img{
  width: 100%;
  position: absolute;
  top: 0;
  border: 1px solid red;
  transition: all 1s;
}

.middleStatus{
  left: 0;
  transform: translateX(0);
  z-index: 1;
}
.leftStatus{
  transform: translateX(-100%);
}
.rightStatus{
  transform: translateX(100%);
}