
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.window{
  width: 920px;
  height: 409px;
  margin: 20px auto;
  overflow: hidden;
  border: 1px solid #E1E1E1;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.35);
}
.images{
  position: relative;
}
.images > img{
  width: 100%;
  position: absolute;
  top: 0;
  transition: all 1s;
}

.middleStatus{
  left: 0;
  transform: translateX(0);
  z-index: 1;
}
.leftStatus{
  transform: translateX(-100%);
}
.rightStatus{
  transform: translateX(100%);
}